<h1>Editing Question</h1>

<%= render 'form', question: @question %>
<div style="margin-top:5px">
    <div style="float:left">
        <%= button_to "Cancel Changes", questions_path, {class: 'btn btn-primary', method: :get} %>
    </div>
</div>
