<h1>Editing Lecture</h1>
<div>
    <%= render 'form', lecture: @lecture %>
    <div style="margin-top:5px">
        <div style="float:left">
            <% if @course.nil? %>
                <%= button_to "Cancel Changes", @lecture, {class: 'btn btn-primary', method: :get} %>
            <% else %>
                <%= button_to "Cancel Changes", @lecture, {class: 'btn btn-primary', method: :get, params: {course_id: @course.id}} %>
            <% end %>
        </div>
    </div>
</div>