<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New User</h1>
    </div>
</div>
<%= render 'form', user: @user %>

<div style="float:left">
    <%= button_to "Back", users_path, {class: 'btn btn-primary', method: :get} %>
</div>

