<h1>Editing Course To Lecture Junction</h1>

<%= render 'form', course_to_lecture_junction: @course_to_lecture_junction %>

<%= link_to 'Show', @course_to_lecture_junction %> |
<%= link_to 'Back', course_to_lecture_junctions_path %>
