<h1>Editing Question Set</h1>

<%= render 'form', question_set: @question_set %>

<%= button_to 'Show', @question_set, {class: 'btn btn-primary', method: :get} %>
<%= button_to 'Back', question_sets_path, {class: 'btn btn-primary', method: :get} %>
