<table>

<table class="table">
  <tr>
  	<th><strong>Questions:</strong></th>
  	<th><strong>Answer:</strong></th>
  </tr>
   <% @question_set.questions.each do |question| %>
   	  <tr>
        <td><div class="quill-container" hidden><%= question.body %></div></td>
        <td><%= question.answers.select { |a| a.is_correct }[0].answer %></td>
      </tr>
    <% end %>
</table>

<script>show_quills();</script>