<div class="col-xs-3 well">
    <h3>Active Learning</h3>
    <%= link_to "Courses", :controller => :courses, :action => :index %>
    <br>
    <%= link_to "users", :controller => :users, :action => :index %>
</div>
