<h1>Editing Question Set Junction</h1>

<%= render 'form', question_set_junction: @question_set_junction %>

<%= link_to 'Show', @question_set_junction %> |
<%= link_to 'Back', question_set_junctions_path %>
