<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Editing Course</h1>
    </div>
</div>
<%= render 'form', course: @course %>
<div style="float:left;margin-top:5px">
    <%= button_to "Cancel Updates", @course, {class: 'btn btn-primary', method: :get} %>
</div>
