#editor-container {
  height: 375px;
}

.answer-correct {
  background-color: lightgreen;
}

.answer-correct-bold {
  background-color: lightgreen;
  font-weight: bold;
}

.answer-bold {
  font-weight: bold;
}