Current Question:
<div id="question-body" hidden><%= question.body %></div>
<div id="editor-container"></div>

Answers:
<ul id="answers">
  <% question.answers.each do |answer| %>
    <li><%= answer.answer %> - <div id="answer-ctr-<%= answer.id %>">0</div></li>
  <% end %>
</ul>
