<div class="row">
  <div class="col-md-10">
    Current Question:
    <div id="question-body" hidden><%= question.body %></div>
    <div id="editor-container"></div>
  </div>
  <div class="col-md-2">
    Answers:
    <ul id="answers">
      <% question.answers.each do |answer| %>
        <li><%= answer.answer %> - <div id="answer-ctr-<%= answer.id %>">0</div></li>
      <% end %>
    </ul>
  </div>

</div>