Current Question:
<p><%= question.body %></p>

Answers:
<ul id="answers">
  <% question.answers.each do |answer| %>
    <li><button class="answer-button" data-qid='<%= question.id %>' data-id='<%= answer.id %>'>Answer</button><%= answer.answer %></li>
  <% end %>
</ul>
