<p>Hello <%= current_user  %>, welcome to <%= @lecture.title %></p>
You are currently <p id='connection-status'>disconnected</p>

Current Question:
<p id='question-text'></p>

Answers:
<ul id="answers">
</ul>

<div id="countdown"></div>

<script>
var alert_presence = function() {
  App.lectureChannel.send({msg: 'join', user: '<%= current_user %>'});
}
var display_new_question = function(q) {
  timer.start();
  $('#question-text').text(q.body);
  $('#answers').empty();
  for (var i in q.answers) {
    $('#answers').append('<li><button class="answer-button" id=' + q.answers[i].id + '>Answer</button>' + q.answers[i].answer + '</li>');
  }
  $('.answer-button').click(function() {
    $('.answer-button').prop('disabled', true).css('opacity',0.5);
    var answer_id = this.id
    App.lectureChannel.send({msg: 'response', question: q.id, answer: this.id });
  });
}
var question_seconds = 5;
var timer = $("#countdown").countdown360({
    radius: 60,
    seconds: question_seconds,
    autostart: false,
    startOverAfterAdding: true
});
App.lectureChannel = App.cable.subscriptions.create({
  channel: "LectureChannel",
  lecture: "<%= @lecture.id %>"
}, {
  connected: function() {
    $('#connection-status').text("connected");
    alert_presence();
  },
  received: function(data) {
    console.log(data);
    if(data.msg == 'question') {
      display_new_question(data.body);
    }
  }
});

</script>
