<p>Hello <%= current_user  %>, welcome to <%= @lecture.title %></p>
You are currently <p id='connection-status'>disconnected</p>

Current Question:
<p id='question-text'></p>


<script>
var question_set = {};
var question_index = 0;
var displayNextQuestion = function() {
  $('#question-text').text(question_set.questions[question_index].body);
  question_index++;
}
var requestQuestionSet = function() {
  App.lectureChannel.send({msg: 'requestQuestionSet'});
}
App.lectureChannel = App.cable.subscriptions.create({
  channel: "LectureChannel",
  lecture: "<%= @lecture.id %>",
  teacher: "<%= current_user.id %>"
}, {
  connected: function() {
    $('#connection-status').text("connected");
    requestQuestionSet();
  },
  received: function(data) {
    if(data.msg == 'helpme') {
      question_set = data.qs;
      console.log(question_set);
      displayNextQuestion();
    }
  }
});

</script>
