<p>Hello <%= current_user  %>, welcome to <%= @lecture.title %></p>
You are currently <p id='connection-status'>disconnected</p>

Current Question:
<p id='question-text'></p>

Connected Users:
<ul id="list">
</ul>

Answers:
<ul id="answers">
</ul>

<div id="countdown"></div>

<script>
create_start_lecture("<%= @lecture.id %>");
</script>
