<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
    <table>
        <tr>
        <td width="5%" style="text-align:right;background-color:transparent"><img src="/favicon.ico" alt="Logo" width=50 height=50 ></td>
        <td width="90%" style="text-align:left">
            <a class="navbar-brand">Active Learning</a>
        </td>
        <td width="5%" style="text-align:center">
            <%= current_user.username %>
            <%= current_user.is_admin ? ' [admin]' : '' %>
            <%= current_user.is_professor ? ' [professor]' : '' %>
        </td>
        </tr>
    </table>
    </div>
    <%= render :template => 'layouts/sidebar' %>
</nav>